form{
    width:60%;
    border:solid 1px;
    padding:10px;
}
input{
    width:90%;
    margin:2% 0;
    padding:16px 5px;
}
button{
    padding:6px 10px;
    width:97%;
    border:none;
    background-color: rgb(29, 143, 109);
    color:#ffffff;
    border-radius: 5px;
    cursor: pointer;
}